MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/mala_funds?retryWrites=true&w=majority"
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/mala_funds?retryWrites=true&w=majority"
